= render "menu"
%br
#top-friends
  = "#{@friend_user.name}'s top commenter#{is_or_are_top_commenters(@feed_commenters.count)}:"
  - if @feed_commenters.present?
    %ul
      - @feed_commenters.each do |friend|
        %li= link_to friend['name'], "facebook.com/#{friend["id"]}", :target => "blank"
  - else
    = "Nobody has posted on #{@friend_user.name}'s wall!"